scrapers/Coomer/SHALookup/.history/SHALookup_20250403202530.py
scrapers/Coomer/SHALookup/.history/SHALookup_20250403210108.py
scrapers/Coomer/SHALookup/.history/SHALookup_20250403210137.py
scrapers/Coomer/SHALookup/.history/SHALookup_20250403210115.py
